<h1>Add Some Sweet Street Art!</h1>

<div class="row">
  <div class="small-6 small-centered columns border">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns back-link">
    <%= link_to "Back to Arts", arts_path %>
  </div>
</div>
