@import "foundation_and_overrides";

$font-color: #088da5;
$bg-color: #ECECEA;

body {
  background-image: url(/assets/new_year_background.png);
  background-repeat:repeat;
  text-align: center;
  font-color: $font-color
}

.slick-slide img {
  height: 800px;
  width: 100%;
  margin: auto;
}

h1,
h2,
h3 {
  color: $font-color;
  text-align: center;
}

p {
font-size: 24px;
}

.about {
  border: 3px solid $bg-color;
  text-align: center;
  font-size: 24px;
  padding: 2rem;
  margin: 10px;
  color: $font-color;
}


.new {
  border: 1px solid #fff;
  color: $font-color;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

// .orbit-container {
//   height: 400px;
// }

.all-art {
  border: 1px solid #fff;
  color: $font-color;
  margin: 10px;
  padding: 5px;
  text-align: center;
}


.label {
  display: block;
  text-align: center;
  padding: 3rem;
}

a {
  color: $font-color;
}

.nav-img {
  height: $topbar-height;
}

.pagination {
  text-align: center;
}


.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
