$font-color: #088da5;
$bg-color: #fff;

body {
  background-color: $bg-color;
}

h1,
h3 {
  color: $font-color;
  text-align: center;
}

.about {
  border: 3px solid $bg-color;
  text-align: center;
  padding: 5px;
  margin: 10px;
  color: $font-color;
}

.recently-reviewed {
  border: 3px solid $bg-color;
  color: $font-color;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.new {
  border: 3px solid $bg-color;
  color: $font-color;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.all-art {
  border: 3px solid $bg-color;
  color: $font-color;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.label {
  display: block;
  text-align: center;
}
