$h1-color:      #088da5;
$border-color:  #000000;

#border {
  border: 2px solid $border-color;
  margin: auto;
  padding: 20px 30px;
}

body {
  // background-image: url(https://static.pexels.com/photos/6989/city-love-rainbow-nyc.jpg);
  background-size: cover;
}

h1 {
  color: $h1-color;
  margin-bottom: 50px;
  text-align: center;
}

.actions {
  text-align: center;
}

#form-button {
  margin: auto;
}

#back-link {
  margin-top: 10px;
}
