@import "foundation_and_overrides";
@import "index";

.art-details {
  margin: auto;
  margin-bottom: 35px;
  display: block;
  width: 50%;
  background-color: #088da5;
  box-shadow: 5px 5px 3px black;
  li {
    list-style-type: none;
    font-size: 1.5em;
    color: white;
    text-align: center;
  }
}

.votes {
  margin: 7.5px 5px 0;
  background-color: #088da5;
  color: white;
}

.review {
  background-color: lighten(#088da5, 60%);
  border-radius: 10px;
  .review-content {
    list-style-type: none;
    width: 70%;
  }
  .user-specific-content {
    list-style-type: none;
    margin-right: 5px;
    li {
      margin: 7.5px 5px 0;
      position: relative;
      float: right;
    }
  }
}

.art-buttons {
  list-style-type: none;
  li {
    display: inline-block;
    margin: 0 5px;
  }
}
.sign-in-to-add-photo {
  margin-left: 15px;
}

.edit-review,
.delete-review {
  margin-bottom: 5px;
}

.photo-form {
  margin-left: 7px;
}

.caption {
  width: 50%;
}

.orbit-caption {
  margin: 0 auto;
}


.orbit-photo img {
  width: 960px;
  margin: 0 auto;
}
